NEXT_PUBLIC_MAPBOX_PUBLIC_ACCESS_TOKEN=your_mapbox_access_token_here
SNOWER_API_KEY="your_snower_api_key_here"
SNOWER_USERNAME="snower_username_here"
SNOWER_PASSWORD="snower_password_here"
NEXT_PUBLIC_BACKEND_URL="backend_url_here"